
/** Globais **/ 
* {
	margin: 0px;
	padding: 0px;
	outline: none;
}

img, hr{
	border: hidden;
}

ul{
	list-style: none;
}

img{
	border: none;
}


/** Css do rss de noticias **/

.rssDiv{
    float: left;
    padding-right: 35px;
	}

.feedEkList{
	width:244px; 
	list-style:none outside none;
	background-color:#FFFFFF; 
	border:1px solid #D3CAD7; 
	color:#3E3E3E;
	margin-top: 39px;
}
.feedEkList li{
	border-bottom:1px solid #D3CAD7; 
	padding:5px;
}
.feedEkList li:last-child{
	border-bottom:none;
}
.itemTitle a{
	text-decoration:none 
}
.itemTitle a:hover{ 
	text-decoration:underline 
}
.itemDate{
	font-size:11px;color:#AAAAAA;
} 

/** Fecha css do rss de noticias **/


/** Container **/

#container{
	width: 246px;
	height: 100%;

}

/** Cabecalho - Header **/ 

header {
	width: 246px;
	height: 40px;
	background: #65A745;
	font-family: arial, verdana, sans-serif;
	font-size: 16px;
	position: fixed;
	top: 0;
	z-index: 1;

}

header h1{
	font-family: arial, verdana, sans-serif;
	font-size: 16px; 
	color:#F4E156;
	padding: 11px 0;
	text-align: center;
}


/** Cabecalho - Header **/ 

section {
	width: 246px;
	height: 100%;

}

article { }

figure img {
	width: 244px;
	height: 148px;
}

figcaption p{
	width: 244px;
	color: #fff;
	font-size: 11px;
	font-family: arial, verdana, sans-serif;
	background: #000;
	margin-top: -30px;
	position: fixed;


}


/** Rodapé - Footer **/ 

footer {
width: 246px;
height: 40px;
background: #6AA82E;
position: fixed;
bottom: 0;
left: 0;
z-index: 1;


}

footer ul {
width: 246px;
height: 40px;
}

footer li{
width: 49px;
height: 19px;
float: left;
list-style: none;
font-size: 10px;
font-family: arial,verdana,sans-serif;
color: #F3E32A;
text-align: center;

}

footer li a {
	margin-top: 40px;
font-size: 10px;
font-family: arial,verdana,sans-serif;
color: #F3E32A;
text-align: center;

}

footer li a:hover{

}

/** Container - Jogos **/

#container-jogos{
	width: 246px;
	height: 142px;
	border-top: groove 4px #65A745;
	background:#F1F2F4;
	margin-top: 5px;
} 

#lista-jogos {
	width: 246px;
	height: 70px;
	margin-top: 20px;
	
}

#lista-jogos ul {
	height: 70px;
	margin-left: 39px;
}


#lista-jogos li {
	float: left;
	list-style: none;
}
	
#lista-jogos img {
	padding: 0 10px;
}
	
}
#descricao-jogos {
	width: 240px;
	height: 39px;
	
}

.resultado-jogos {
	padding: 0 10px;
	font-family: arial,verdana,sans-serif;
	font-size: 12px;
	color: #004588;
	font-weight: bold;
    margin-top: 22px;
}
.proximo{
	font-size: 10px;
	font-family: arial,verdana,sans-serif;
	color: #044B79;
	margin: 50px 0 10px 5px;
}
.data-local {
	font-size: 10px;
	font-family: arial,verdana,sans-serif;
	color: #044B79;
	text-align: center;

}

.bloco {
	height: 45px;
	background: #fff;
}
